*{
 padding: 0;
 margin: 0;
}
body{
 background-color: #fff;
}
form{
  color: black;
  background-color: aquamarine;
  width: 890px;
  height: fit-content;
  position: absolute;
  padding-left: 50px;
  margin-left: 180px;
}

h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  
}


/*  NAME*/
.name {
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#first-name{
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
  margin-top: 3px;
  margin-right: 10rem;
  border: 2px solid red;
}

#second-name {
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
  margin-top: 1rem;
  
  border: 2px solid red;
}

section ::placeholder{
  padding-left: 15px;
}


/*Address*/
.address{
 
    padding-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#street-add{
  width: 10rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 1em;
    margin-right: 1rem;
    border: 2px solid red;
}

#city{
  width: 10rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 1em;
    margin-right: 1rem;
    border: 2px solid red;
}

#region{
  width: 10rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 1em;
    margin-right: 1rem;
    border: 2px solid red;
}

#postal{
  width: 5rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 1em;
    margin-right: 1rem;
    border: 2px solid red;
}

.country{
  display: flexbox;
  width: 5rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 1em;
    margin-right: 1rem;
    border: 2px solid rgb(228, 77, 77);
}


/* PHONE*/
.phone{
  padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #phone{
    display: flexbox;
      width: 15rem;
      height: 2rem;
      border-radius: 5px;
      margin-top: 1em;
      margin-right: 1rem;
      border: 2px solid rgb(228, 77, 77);
  }

.account-number {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 1em;
    padding-bottom: 5rem;
  
}

#account-number{
  display: flexbox;
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 1em;
    margin-right: 1rem;
    border: 2px solid rgb(228, 77, 77);
}

.email-address{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 1em;
    padding-bottom: 5rem;
    padding-right: 5rem;
}

#email-address{
  display: flexbox;
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 1em;
    margin-right: 2rem;
    border: 2px solid rgb(228, 77, 77);
}









/*QUESTIONS*/

p{
  text-transform: capitalize;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

label{
  font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.q1{
  display: contents;
 
}

.q1-ans{
  margin-top: 1rem;
  margin-bottom: 2rem;
}


#q6{
  
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 1em;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border: 2px solid rgb(228, 77, 77);
}

.q8{
  margin-bottom: 2rem;
  margin-top: 2rem;
}